@function imgUrl($file, $path: "background") {
    @return url("../images/" + $path + "/" + $file) no-repeat;
}

header {
    .header_topBar {
        background-color: $white;
        padding: 19px 0;
        position: fixed;
        width: 100%;
        z-index: 1000;
        box-shadow: 0 2.2184px 10.8703px rgba(0, 0, 0, 0.13);

        .header_topBarButtons {
            a.btn {
                font-weight: 700;
                border-radius: 2px;
                line-height: 1;
                font-size: 0.875rem;
                padding: 10px 8px;

                @include media-breakpoint-up(md) {
                    padding: 19.5px 17px;
                    font-size: 1.125rem;
                }

                @include media-breakpoint-up(xxl) {
                    padding: 19.5px 27px;
                    font-size: 1.25rem;
                }
            }
        }
    }

    .banner {
        padding-top: 202px;
        background: $black imgUrl("mobile_banner.png") right 202px;

        @include media-breakpoint-up(md) {
            background: $black;
            padding-top: 255px;
        }

        @include media-breakpoint-up(lg) {
            padding-top: 196px;
        }

        @include media-breakpoint-up(xl) {
            padding-top: 101px;
            background: black imgUrl("banner.png") 90% center;
            background-size: contain;
        }

        .banner_main {
            padding: 50px 0;

            @include media-breakpoint-up(lg) {
                padding: 100px 0;
            }

            @include media-breakpoint-up(xl) {
                padding: 150px 0;
            }

            @include media-breakpoint-up(xxl) {
                padding: 230px 0;
            }

            .banner_heroHeading {
                line-height: 1;
                font-weight: 700;
                color: $white;
                margin-bottom: 0;
                font-size: 6.360625rem; // 101.77px
                margin-bottom: 0;

                @include media-breakpoint-down(xl) {
                    font-size: 5rem;
                }

                @include media-breakpoint-down(md) {
                    font-size: 4.5rem;
                }

                @include media-breakpoint-down(sm) {
                    font-size: 2.5rem; // 40px;
                }
            }

            .banner_subHeading {
                line-height: 1.2;
                font-weight: 700;
                color: $white;
                padding: 19px 0;
                font-size: 1.25rem; // 20px

                @include media-breakpoint-up(md) {
                    padding: 65px 0 55px 0;
                    font-size: 2.25rem; // 36px
                }
            }

            .banner_subHeadingPricing {
                font-style: italic;
                line-height: 1;
                color: $white;
                font-weight: 800;
                font-size: 2.25rem; // 36px

                @include media-breakpoint-down(sm) {
                    font-size: 1.2225rem;
                }
            }

            .banner_subHeadingTagSm {
                font-size: 1rem;

                @include media-breakpoint-down(sm) {
                    font-size: 9px;
                }
            }
        }
    }
}

section.about {
    padding: 57px 0 0 0;
    background: $black;

    @include media-breakpoint-up(md) {
        background: linear-gradient(270deg, $black 38.03%, rgba(51, 51, 57, 0) 74.35%), imgUrl("about.png");
        background-size: contain;
        padding: 80px 0;
    }

    @include media-breakpoint-up(xxl) {
        padding: 128px 0;
    }

    .about_heading {
        color: $white;
        font-weight: 700;
        line-height: 0.88;
        font-size: 4.5rem; // 72px

        @include media-breakpoint-down(xl) {
            font-size: 3.6rem;
        }

        @include media-breakpoint-down(md) {
            font-size: 3.5625rem;
        }
    }

    .about_description {
        font-family: $font-roboto;
        color: $white;
        font-size: 0.875rem;
        padding: 26.73px 0 0 0;

        @include media-breakpoint-up(md) {
            font-size: 0.9375rem;
            padding: 35px 48px 35px 0;
        }
    }
}

section.services {
    padding: 83.42px 0;

    @include media-breakpoint-up(md) {
        padding: 135px 0 70px;
    }

    .hero_heading {
        font-size: 4.5rem; // 72px
        font-weight: 700;
        text-align: center;
        line-height: 1;

        @include media-breakpoint-down(sm) {
            font-size: 3.4rem;
        }
    }

    .subHeading {
        text-align: center;
        font-weight: 600;
        font-size: 1rem;
        padding: 19px 12px 120px;
        line-height: 1.4375;

        @include media-breakpoint-up(md) {
            line-height: 1.15;
            padding: 45px 50px 40px;
            font-size: 1.625rem;
        }
    }

    .service-1 {
        background: imgUrl("service-1-sm.png") center;
        background-size: contain;

        @include media-breakpoint-up(md) {
            background: imgUrl("service-1.png") center;
            background-size: contain;
            margin: 65px 0;
        }

        ul {
            list-style: imgUrl("tick-dark.png", "icons");
            padding-inline-start: 34px;
            margin-bottom: 0;

            li {
                color: $white;
                font-weight: 600;
                line-height: 1.63;
                font-size: 1.044375rem;

                @include media-breakpoint-up(md) {
                    font-size: 1.375rem;
                }
            }
        }

        .service-main {
            padding: 93.82px 35px 548.85px;

            @include media-breakpoint-up(lg) {
                padding: 57px 100px 57px 80px;
            }
        }
    }

    .service-2 {
        background: imgUrl("service-2-sm.png") center;
        background-size: contain;

        @include media-breakpoint-up(md) {
            background: imgUrl("service-2.png") center;
            background-size: contain;
            margin: 65px 0;
        }

        ul {
            list-style: imgUrl("tick-primary.png", "icons");
            padding-inline-start: 34px;
            margin-bottom: 0;

            li {
                color: $white;
                font-weight: 600;
                line-height: 1.63;
                font-size: 1.044375rem;

                @include media-breakpoint-up(md) {
                    font-size: 1.375rem;
                }
            }
        }

        .service-main {
            padding: 93.82px 35px 608.85px;

            @include media-breakpoint-up(lg) {
                padding: 57px 0px 57px 140px;
            }
        }
    }

    .service-heading {
        font-size: 3.0375rem;
        color: $white;
        font-weight: 700;
        line-height: 1;

        @include media-breakpoint-up(md) {
            font-size: 4rem;
        }
    }

    .service-description {
        color: $white;
        line-height: 1.875;
        font-size: 0.875rem;
        font-weight: 500;
        padding: 17px 0;

        @include media-breakpoint-up(md) {
            font-size: 1rem;
        }
    }
}

section.energy-saving {
    background: linear-gradient(0deg, $dark 75.52%, #36363c 100%);

    .hero-img {
        width: 100%;
        border-top: 8px solid $primary;

        @include media-breakpoint-up(md) {
            border-top: 0;
            border-right: 8px solid $primary;
        }
    }

    .description {
        padding: 91.93px 20px;

        @include media-breakpoint-up(md) {
            padding: 48px 101px;
        }

        .energy-saving-heading {
            color: $white;
            font-weight: 700;
            line-height: 0.88;
            font-size: 4.5rem; // 72px

            @include media-breakpoint-down(xl) {
                font-size: 3.8rem;
            }
        }

        .horizontal-divider {
            height: 2px;
            width: 100%;
            background: linear-gradient(
                89.99deg,
                rgba(255, 255, 255, 0) 0%,
                #ffffff 48.96%,
                rgba(255, 255, 255, 0) 100%
            );
            margin: 52px 0 28px;

            @include media-breakpoint-up(md) {
                margin: 39px 0 21px;
            }
        }
    }
}

section.benefits {
    padding-top: 65.36px;

    @include media-breakpoint-up(md) {
        padding-top: 174.55px;
    }

    .benefits-heading {
        font-weight: 700;
        text-align: center;
        font-size: 4.5rem; // 72px
        line-height: 1;

        @include media-breakpoint-down(xl) {
            font-size: 3.875rem;
        }
    }

    .description {
        font-size: 1rem;
        line-height: 1.61;
        font-family: $font-roboto;
        text-align: center;
        padding: 24px 0;

        @include media-breakpoint-up(md) {
            font-size: 1.3125rem;
            padding: 24px 16px;
        }

        @include media-breakpoint-up(xl) {
            padding: 62px 50px 22px;
        }
    }

    .benefits-card {
        margin: 40px 0;
        background: $white;
        border-top: 3px solid $primary;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        padding: 30px 16px 46px;

        @include media-breakpoint-up(md) {
            padding: 27px 32px 34px;
        }
    }
}

section.why-us {
    padding: 50px 0;

    @include media-breakpoint-up(md) {
        padding: 115px 0 155px;
    }

    .container {
        background: linear-gradient(0deg, #2e2d71 75.52%, #48478f 100%);
        filter: drop-shadow(0px 24px 44px rgba(0, 0, 0, 0.25));

        .why-us-heading {
            line-height: 0.88;
            font-weight: 700;
            color: $white;
            font-size: 4.5rem; // 72px

            @include media-breakpoint-down(lg) {
                font-size: 3.6rem;
            }

            @include media-breakpoint-down(sm) {
                font-size: 2.41875rem;
            }
        }

        .why-us-sub-heading {
            display: flex;
            align-items: center;
            color: $white;
            font-weight: 700;
            font-size: 1.5rem; // 24px
        }

        .cover-img {
            margin-top: -52px;
        }

        .horizontal-divider {
            height: 2px;
            width: 100%;
            margin: 36px 0 42px;
            background: linear-gradient(
                89.99deg,
                rgba(255, 255, 255, 0) 0%,
                #ffffff 48.96%,
                rgba(255, 255, 255, 0) 100%
            );

            @include media-breakpoint-up(md) {
                margin: 41px 0 14px;
            }
        }

        a {
            color: $primary;
            text-decoration: none;
        }
    }
}

section.cta {
    padding: 16px 0;

    @include media-breakpoint-up(md) {
        padding: 0;
    }

    .cta-card {
        .cta_image {
            width: 100%;
        }

        .card-body {
            background: $white;
            padding: 30px 30px 33px;

            .card-head {
                height: 74px;
                font-style: italic;
                font-weight: 800;
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 1;
                text-align: center;
                text-transform: uppercase;
                font-size: 2.25rem; // 36px
            }

            .card-text {
                font-family: $font-roboto;
                color: $dark-grey;
                font-size: 0.925rem;
                padding-top: 27px;
                min-height: 161px;

                @include media-breakpoint-up(xl) {
                    min-height: 180px;
                }
                
                @include media-breakpoint-up(xxl) {
                    min-height: 161px;
                }
            }
        }
    }
}

section.form {
    padding-bottom: 71.3px;

    @include media-breakpoint-up(md) {
        padding: 120px 0;
    }

    @include media-breakpoint-up(xl) {
        padding: 155px 0 222px;
    }

    .form_container {
        box-shadow: 0px 35px 25px rgba(0, 0, 0, 0.1);
        position: relative;

        .form_main {
            background: $white;
            padding: 20px 16px;
            height: 100%;

            @include media-breakpoint-up(md) {
                padding: 24px;
            }

            @include media-breakpoint-up(xxl) {
                padding: 20px 39px;
            }

            @include media-breakpoint-down(md) {
                .h5 {
                    font-size: 2.090625rem;
                }
            }

            form {
                .input-group {
                    overflow: hidden;
                    background: $white;
                    border: 1px solid #e3e3e3;

                    input,
                    select {
                        color: $dark;
                        font-weight: 600;
                        font-size: 14px;
                        padding: 4px 16px;
                        min-height: 28px;

                        @include media-breakpoint-up(md) {
                            padding: 4px 19.66px;
                            min-height: 50px;
                            font-size: 18.63px;
                        }

                        @include media-breakpoint-up(lg) {
                            min-height: 60px;
                        }

                        &:focus {
                            box-shadow: none;
                            outline: none;
                        }

                        &::placeholder {
                            color: #a0a0ab;
                        }
                    }

                    select {
                        color: #a0a0ab;

                        option {
                            color: $dark;
                            font-weight: 500;
                        }
                    }
                }

                button {
                    min-height: 44px;

                    @include media-breakpoint-up(md) {
                        min-height: 61px;
                    }
                }
            }
        }
    }
}

footer {
    .footer_top {
        background: linear-gradient(110deg, $primary 0 50%, $black 50% 100%);

        @include media-breakpoint-up(xl) {
            background: linear-gradient(110deg, $primary 0 60%, $black 60% 100%);
        }
        padding: 44px 0;
        color: $white;
    }

    .footer_first_sm {
        background: $primary;
        color: $white;
        padding: 69px 0 61px;

        .h5 {
            font-size: 64.74px;
            line-height: 0.88;
        }

        .h14 {
            font-size: 18px;
            padding: 24px 0;
        }
    }

    .footer_second_sm {
        background: $dark;
        color: $white;
        padding: 55px 0 62.46px;
    }

    .footer_middle {
        background: $tertiary;
        color: $white;
        padding: 66px 0;

        @include media-breakpoint-up(md) {
            padding: 107px 0;
        }

        .quickContact_btn {
            transform: skewX(-19deg);

            .quickContact_btnInner {
                transform: skewX(19deg);
                font-weight: 600;
                padding: 15px 12px;
                color: $white;
                font-size: 0.875rem;

                @include media-breakpoint-up(md) {
                    font-size: 20px;
                }
            }
        }

        @include media-breakpoint-down(md) {
            .h4 {
                font-size: 2.8475rem;
            }
        }
    }

    .footer_bottom {
        padding: 36px 0;
        background-color: $dark;
        color: $dark-grey;
        font-family: $font-roboto;
        font-size: 0.875rem; // 14px
    }
}
